<?xml version="1.0"?>
<launch>
  <node pkg="nodelet" type="nodelet" name="collision_avoidance_manager" args="manager" output="screen" />

  <node pkg="nodelet" type="nodelet" name="collision_avoidance_nodelet" args="load collision_avoidance/CA collision_avoidance_manager" output="screen">
    <param name="radius" type="double" value="0.225" />
    <param name="security_distance" type="double" value="0.41" />
    <param name="epsilon" type="double" value="0.1" />

    <param name="min_change_in_direction" type="double" value="5.0" />
    <param name="max_change_in_direction" type="double" value="45.0" />

    <param name="min_opposite_direction" type="double" value="0.0" />
    <param name="max_opposite_direction" type="double" value="10.0" />

    <param name="ab" type="double" value="3.0" />
    <param name="T" type="double" value="0.3" />

    <param name="min_distance_hold" type="double" value="0.41" />

    <param name="max_data_age" type="double" value="1.0" />
    <param name="polar_size" type="int" value="360" />

    <rosparam param="obstacle_topics">[/cloud]</rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="laserscan_to_pointcloud_nodelet" args="load laserscan_to_pointcloud/LTP collision_avoidance_manager" output="screen">
    <param name="scan_topic" type="str" value="scan" />
    <param name="cloud_topic" type="str" value="cloud" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="hokuyo_broadcaster" args="0 0 0.11 0 0 0 base_link laser_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="primesense_broadcaster" args="0 0.04 0.15 0 0 0 base_link camera_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="sonar_up_broadcaster" args="-0.05 0 0.22 0 -1.57079633 0 base_link sonar_up_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="sonar_down_broadcaster" args="-0.05 0 -0.05 0 1.57079633 0 base_link sonar_down_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="teraranger_broadcaster" args="0 -0.04 -0.13 0 1.57079633 0 base_link teraranger_link 100" />

  <arg name="controller_config_file"
    default="$(find controller)/config/controller.yaml" />

  <node pkg="controller" type="controller_node" name="controller_node">
    <param name="max_xy_vel" type="double" value="1.0" />
    <param name="max_z_vel" type="double" value="0.5" />
    <param name="max_yaw_rate" type="double" value="0.7" />
    <param name="robot_base_frame" type="str" value="base_link" />
    <!--    <remap from="collision_free_control" to="controller/setpoint" />-->
    <!--     <remap from="collision_free_control" to="controller/joy" />-->
  </node>

  <arg name="js" default="0" />

  <node pkg="joy" type="joy_node" name="joy" required="True">
    <param name="autorepeat_rate" value="100" /> <!-- Minimal update rate, Hz -->
    <param name="dev" value="/dev/input/js$(arg js)" />
  </node>

  <!-- Pass in joy_config_file:=/path/to/config.yaml to change options. -->
  <arg name="joy_config_file" default="$(find controller_joy)/config/ds4_wireless.yaml" />

  <node pkg="controller_joy" type="controller_joy_node" name="controller_joy_node">
    <rosparam file="$(arg joy_config_file)" command="load" />
  </node>
</launch>
